<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/frontend/favicon.ico">
    <title>adonis-with-vue</title>
  <link href="/frontend/js/about.js" rel="prefetch"><link href="/frontend/css/app.ff4a4494.css" rel="preload" as="style"><link href="/frontend/js/app.js" rel="preload" as="script"><link href="/frontend/js/chunk-vendors.js" rel="preload" as="script"><link href="/frontend/css/app.ff4a4494.css" rel="stylesheet"></head>
  <body>
    <noscript>
      <strong>We're sorry but adonis-with-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/frontend/js/chunk-vendors.js"></script><script type="text/javascript" src="/frontend/js/app.js"></script></body>
</html>
