.form-container {
  grid-template-columns: auto;
  margin: auto;
  width: 370px;
}

.form-container h1 {
  margin-bottom: 20px;
}

.input-group {
  width: 350px;
  margin-bottom: 20px;
}

.input-group label {
  font-weight: bold;
}

.input-group label input:not(.form-checkbox), .input-group label textarea {
  width: 333px;
  display: block;
  padding: .5em;
  border: 2px solid lightgray;
}

.label-checkbox {
  display: block;
}

.form-submit {
  padding: .5em;
  background: #455668;
  border: 0;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.form-create-post {
  width: 570px;
}

.form-create-post .input-group label input, .input-group label textarea {
  width: 554px;
}

.input-group label textarea {
  resize: none;
}
