/* Global */

html, body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-color: #EFEFEF;
}

/* Header */

.header-links ul {
  list-style-type: none;
}

.header {
  background-color: #303C49;
  display: grid;
  grid-template-columns: 30% auto;
}

#logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  padding: 1em;
  margin: 0;
}

/* Right nav bar */

.nav-header-links {
  justify-self: right;
}

.header-links * {
  display: inline;
}

.header-links ul li a, .header-links p {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
  display: inline-block;
}

.header-links ul li a:hover {
  background: #455668;
}

/* Content */

.container {
  width: calc(100% - 4em);
  padding: 2em;
  margin-top: 2em;
}

.content-title {
  margin-bottom: 1em;
}

.block-container {
  background: white;
  border-radius: 7px;
  padding: 1em;
  margin-bottom: 10px;
  display: grid;
  min-height: 150px;
  grid-template-columns: 120px auto;
}

.user-info {
  width: 100px;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 13px;
}

.user-info p, .user-info a {
  display: block;
  margin: 10px 5px;
}

.user-info a {
  width: 90px;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

.user-info a img {
  padding-right: 5px;
}

.edit-post-link {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

/* Warnings and infos */

.alert-spam {
  display: block;
  padding: .3em;
  font-weight: bold;
  margin-bottom: 20px;
  width: auto;
  border-radius: 5px;
  border: 2px solid lightgray;
}

.alert-message {
  background: lightpink;
}

.info-message {
  background: lightblue;
}

.pagination {
  display: inline-block;
}

.pagination a, .pagination span {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #455668;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #5f7790;
}
