<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ csrfMeta() }}
  <link href="/images/favicon.ico" rel="icon" type="image/ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
  <link href="/styles/main-style.css" rel="stylesheet"/>
  @!section('extra-style')

  <title>
    @!section('title')
  </title>

</head>
<body>
  @include('layouts/partials/header')

  <div class="container">

    @if(!!flashMessages.get('info'))
      <span class="alert-spam info-message">
        <p>{{ flashMessages.get('info') }}</p>
      </span>
    @endif

    @if(!!flashMessages.get('error'))
      <span class="alert-spam alert-message">
        <p>{{ flashMessages.get('error') }}</p>
      </span>
    @endif

    @!section('content')

  </div>

  @!section('extra-script')
</body>
</html>
