@layout('layouts/main')

@section('title')
  AdonisJs Blog - Home
@endsection

@section('content')

  @include('pages/partials/posts-list')

@endsection

@section('extra-script')
  <script type="text/javascript" src="javascript/post-delete.js"></script>
@endsection
